.sticky-navbar-container{
    inset-block-start: 0;
    inset-block-end: auto;
    box-shadow: 0 2px 4px 
    color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent), 0 4px 12px 
    color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 16%, transparent);
    color: #fff;
    background-color: oklch(20.35% 0.0139 285.09deg);
    overflow: hidden;
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inline-size: 100%;
    z-index: 2;
    transform: translateY(0);
    transition: transform 100ms cubic-bezier(0,0,0.38,0.9);
}
.sub-sticky-navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    inline-size: 100%;
    min-block-size: 64px;
    block-size: 100%;
    padding: 8px 16px;
}
.inside-sticky-navbar-container{
    display: block;
    margin-right: 16px;
    min-inline-size: 0;
}
.sticky-react-guide{
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    min-inline-size: 0;
    margin-bottom: 4px;
    font-family: 'font-3';
}
.sticky-rating-count-container{
    display: flex;
    line-height: 14px;
}
.sticky-best-seller-btn-container{
    margin-right: 8px;
}
.sticky-rating-section{
    margin-right: 8px;
    font-family: 'font-1';
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
}
.sticky-one-star-rating{
    display: inline-flex;
    align-items: center;
}
.sticky-rate{
    margin-right: 4px;
    font-family: 'font-4';
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 14px;
    color: oklch(76.62% 0.166 68.76deg);
}
.sticky-star{
    inline-size: 16px;
    block-size: 16px;
}
.sticky-rating-count{
    color: rgb(145, 145, 167);
    text-decoration: underline;
}
.sticky-student-count{
    font-family: 'font-1';
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
}
.sticky-navbar-container{
    display: none;
}            
/* responsive section */

@media screen and (min-width:1440px) {
    .sticky-navbar-container{
        display: block;
    }
}