*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: "font-1" ;
  src: url('./Fonts/Udemy-Sans-Regular-v1\ \(1\).woff2');
}
@font-face {
  font-family: "font-2";
  src: url('./Fonts/Udemy-Sans-Regular-v1.woff2');
}
@font-face {
  font-family: "font-3";
  src: url('./Fonts/Udemy-Sans-Bold-v1\ \(1\).woff2');
}
@font-face {
  font-family: "font-4";
  src: url('./Fonts/Udemy-Sans-Bold-v1.woff2');
}
@font-face {
  font-family: "font-5";
  src: url('./Fonts/SuisseWorks-Bold-v1.woff2');
}
body{
  display: flex;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
  color: #2a2b3f;
  flex-direction: column;
  font-family: 'font-1';
}
button{
  background-image: none;
}
input, select{
  color: #2a2b3f;
}
img{
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
ul{
  list-style: none;
  max-inline-size: none;
}